.txt-edit-container{
  position: relative !important;
  height: 500px;
  color: #fff;
}
.txt-input, .txt-output{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  background: transparent;
  white-space: pre-wrap;
  line-height: 0.5em;
  word-wrap: break-word;
}

.txt-input{
  opacity: 1;
  margin: 0;
  resize: none;
  padding: 15px;
  padding-left: 40px;
  font-size: 0.8rem;
  box-shadow: none !important;
  outline: none !important;
}

.txt-output{
  pointer-events: none;
  z-index: 3;
  margin: 0;
  background: transparent !important;
  overflow-y: auto;
}

code{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem;
  background: #fff !important;
  display: block;
  font-size: 0.8rem;
  font-family: "PT Mono", monospace;
}

pre{
  background: #fff !important;
}

.txt-edit-container :not(pre)>code[class*="language--"],
.txt-edit-container pre[class*="language--"]{
  background: transparent;
  margin: 0;
}